.searchForm {
    position: relative;
    width: 100%;
}

.myInput {
    width: 100%;
    height: 30px;
    padding: 0.5em 1em;
    box-sizing: border-box;
    margin: 0.5em 0;
    /* border: 1px solid rgb(0, 140, 255); */
    color: #fff;
    background: #111;
    border: none;
    outline: none;
    border-radius: 10px;
}

.inputBtn {
    position: absolute;
    border: none;
    display: block;
    width: 10em;
    height: 70%;
    font-size: large;
    border-radius: 10px;
    top: 0;
    bottom: 0;
    right: 5px;
    margin: auto;
    background: #6442ffd0;
    color: white;
    font-weight: 500;
    padding: 0;
    outline: none;
    cursor: pointer;
    transition: 1s;
}

form input:placeholder-shown + button {
    opacity: 0;
    pointer-events: none;
}

@media (max-width: 546px) {
    .inputBtn {
        width: 4em;
    }
}
