* {
    padding: 0;
    margin: 0;
}

a {
    text-decoration: none;
    color: inherit;
}

body {
    padding: 0 calc(20px - (100vw - 100%)) 0 0;
    background-color: black;
    // background-image: url("../images/img1.jpg");
    background-attachment: fixed;
    background-size: cover;
    background-repeat: no-repeat;
    color: white;
    font-family: "Roboto", sans-serif;
    font-size: 1.2em;
    position: relative;
    height: 100vh;
}

@media (max-width: 1199px) and (min-width: 992px) {
    body {
        font-size: 1rem;
    }
    /* .App {
        padding: 1rem 2rem;
    } */
}

@media (max-width: 991px) {
    body {
        font-size: 0.85rem;
    }
    .area-for-personal-photo {
        width: auto;
    }

    .soft-skills {
        margin-top: 1em;
    }
}

@media (max-width: 546px) {
    body {
        font-size: 0.7rem;
    }
}

.App {
    padding: 1em 20em;
    height: 95vh;
}

.textBlock {
    font-family: "Orbitron", sans-serif;
    font-style: normal;
    font-weight: 700;
    line-height: 1.2em;
    margin-top: 3em;
    width: 63%;
    font-size: 4em;
    display: fixed;
    bottom: 10;
}

.bottom_btns {
    display: flex;
    margin-top: 1em;
}
.btn_div {
    margin-right: 3em;
}

/* List of games  */

.block-games {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 2em;
    font-size: 0.9em;
    margin-top: 2em;
}

.fa-brands {
    font-size: 18px;
}

.fa-playstation {
    color: #006fcd;
}

.fa-xbox {
    color: #2ca243;
}

// show effect

.textBlock,
.bottom_btns,
.list_of_cards,
.game_descr {
    opacity: 0;
    animation: ani 2s forwards;
}

@keyframes ani {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

// contact page

.contact_links {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.logo_element {
    width: 1.5em;
    font-size: 100%;
    color: #6442ffd0;
}

.block_link {
    font-size: 0.8em;
}

// game page

.game_page_block {
    background-color: #6442ffd0;

    border-radius: 20px;
    display: flex;
    justify-content: space-between;
    width: 100%;
    height: 60vh;
}

.game_page_colored {
    height: 100%;
    width: 55%;
    margin: 3em;
    font-size: 1.5em;
}

.game_page_img_block {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: #111;
    width: 35%;
    margin: 3em;
    border-radius: 20px;
    & img {
        height: 80%;
    }
}

// top btn

.block_top_btn {
    display: flex;
    justify-content: space-between;
}
