// #6442ffd0
// black
// white
// #111
//#006fcd - ps
// #2ca243 - xbox

* {
    padding: 0;
    margin: 0;
}

a {
    text-decoration: none;
    color: inherit;
}

body {
    padding: 0 calc(20px - (100vw - 100%)) 0 0;
    background-color: black;
    background-attachment: fixed;
    background-size: cover;
    background-repeat: no-repeat;
    color: white;
    font-family: "Roboto", sans-serif;
    font-size: 1.2em;
    position: relative;
    height: 100vh;
}

.App {
    padding: 1em 20em;
    height: 95vh;
}

// home page

.textBlock {
    font-family: "Orbitron", sans-serif;
    font-style: normal;
    font-weight: 700;
    line-height: 1.2em;
    margin-top: 3em;
    width: 63%;
    font-size: 4em;
    display: fixed;
    bottom: 10;
}

.bottom_btns {
    display: flex;
    margin-top: 1em;
}
.btn_div {
    margin-right: 3em;
}

// List of games page

.block-games {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 2em;
    font-size: 0.9em;
    margin-top: 2em;
}

.fa-brands {
    font-size: 1.5em;
}

.fa-playstation {
    color: #006fcd;
}

.fa-xbox {
    color: #2ca243;
}

// game page

.game_page_block {
    background-color: #6442ffd0;
    border-radius: 20px;
    display: flex;
    justify-content: space-between;
    width: 100%;
    height: auto;
    max-height: 70vh;
    margin-top: 2em;
}
.game_page_name {
    font-weight: 900;
}
.game_page_colored {
    height: 100%;
    width: 55%;
    margin: 40px;
    font-size: 1.5em;
}

.game_page_img_block {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: #111;
    width: 500px;
    margin: 40px;
    border-radius: 20px;
    & img {
        width: auto;
        height: 80%;
    }
}

.block_top_btn {
    display: flex;
    justify-content: space-between;
}

// about page

.link_project_git {
    text-decoration: underline;
}

.link_project_git:hover {
    text-decoration: none;
    color: #6442ffd0;
}

@media (max-width: 547px) {
    .navBlock {
        font-size: 0.8em;
    }
}

// contact page

.contact_links {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.logo_element {
    width: 1.5em;
    font-size: 100%;
    color: #6442ffd0;
}

.block_link {
    font-size: 0.8em;
}

// show effect

.textBlock,
.bottom_btns,
.list_of_cards,
.game_descr,
.game_page {
    opacity: 0;
    animation: ani 2s forwards;
}

@keyframes ani {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

// MEDIA

@media (min-width: 1600px) {
    .textBlock {
        width: 75%;
    }
    .game_page_block {
        font-size: 0.85em;
    }
}
@media (max-width: 1599px) and (min-width: 1400px) {
    body {
        font-size: 0.95em;
    }
    .App {
        padding: 1em 20em;
    }
    .game_page_block {
        font-size: 1.1em;
    }
    .game_page_img_block {
        width: 350px;
    }
}

@media (max-width: 1399px) and (min-width: 1200px) {
    body {
        font-size: 0.95em;
    }
    .App {
        padding: 1em 15em;
    }
    .game_page_block {
        font-size: 0.9em;
        max-height: 60vh;
    }
    .game_page_img_block {
        width: 350px;
    }
}

@media (max-width: 1199px) and (min-width: 992px) {
    body {
        font-size: 0.9em;
    }
    .App {
        padding: 1em 9em;
    }
    .game_page_block {
        font-size: 0.9em;
    }
    .game_page_img_block {
        width: 350px;
    }
}

@media (max-width: 991px) and (min-width: 857px) {
    body {
        font-size: 1em;
    }
    .App {
        padding: 1em 7em;
    }
    .block-games {
        display: grid;
        grid-template-columns: 1fr 1fr;
    }
    .btn_div {
        margin-right: 2em;
    }
    .textBlock {
        width: 80%;
    }
    .game_page_block {
        font-size: 0.95em;
    }
    .game_page_colored {
        height: auto;
        width: 70%;
        margin: 40px 0px 40px 40px;
        font-size: 1.5em;
    }
    .game_page_img_block {
        width: 300px;
    }
    & img {
        width: 80%;
        height: auto;
    }

    .block_top_btn {
        .myBtn {
            font-size: 10px;
        }
    }
}

@media (max-width: 856px) and (min-width: 700px) {
    body {
        font-size: 0.9em;
    }
    .App {
        padding: 1em 7em;
    }
    .block-games {
        display: grid;
        grid-template-columns: 1fr 1fr;
    }
    .btn_div {
        margin-right: 2em;
    }

    .game_page_block {
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        height: auto;
    }

    .game_page_colored {
        height: auto;
        width: auto;
        margin: 40px 40px 0px;
        font-size: 1.5em;
    }

    .game_page_img_block {
        display: flex;
        flex-direction: row;
        justify-content: first baseline;
        width: auto;
        margin: 40px;
        height: 250px;
        border-radius: 20px;
        & img {
            width: auto;
            height: 100%;
        }
    }
}

@media (max-width: 699px) and (min-width: 547px) {
    body {
        font-size: 0.8em;
    }
    .App {
        padding: 1em 5em;
    }
    .block-games {
        display: grid;
        grid-template-columns: 1fr 1fr;
    }
    .btn_div {
        margin-right: 2em;
    }
    .textBlock {
        width: 100%;
    }

    .game_page_block {
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
    }

    .game_page_colored {
        height: auto;
        width: auto;
        margin: 40px 40px 0px;
        font-size: 1.5em;
    }

    .game_page_img_block {
        display: flex;
        flex-direction: row;
        justify-content: first baseline;
        width: auto;
        height: 250px;
        border-radius: 20px;
        & img {
            width: auto;
            height: 100%;
        }
    }
}

@media (max-width: 546px) {
    .App {
        padding: 1em 1em;
    }
    .block-games {
        display: grid;
        grid-template-columns: 1fr;
    }

    .textBlock {
        width: 100%;
        font-size: 2em;
    }
    .bottom_btns {
        display: flex;
        flex-direction: column;
        margin-top: 1em;
    }
    .btn_div {
        margin-top: 1em;
    }
    .game_page_block {
        font-size: 0.6em;
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        max-height: 50vh;
    }

    .game_page_colored {
        height: auto;
        width: auto;
        margin: 20px 20px 0px;
        font-size: 1.2em;
    }

    .game_page_img_block {
        display: flex;
        flex-direction: row;
        justify-content: first baseline;
        width: auto;
        margin: 20px;
        height: 150px;
        border-radius: 20px;
        & img {
            width: auto;
            height: 100%;
        }
    }
}
