$border-width: 8px;

$colors: (
    "green": #40e2a0,
    "red": #ff6666,
    "blue": #7cb2e8,
    "pink": #ff69f8,
    "background": rgb(20, 20, 20),
);

.loader {
    height: 80vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.symbol {
    margin: 0 5px;
    transform: scale(0, 0) rotate(180deg);
    animation: loading 2s ease infinite;

    &:nth-child(2) {
        animation-delay: 0.2s;
    }

    &:nth-child(3) {
        animation-delay: 0.3s;
    }

    &:nth-child(4) {
        animation-delay: 0.4s;
    }

    &__triangle {
        position: relative;
        width: 0;
        border-bottom: solid 41.6px map-get($colors, "green");
        border-right: solid 24px transparent;
        border-left: solid 24px transparent;
        &::after {
            content: "";
            position: absolute;
            top: 14px;
            left: -12px;
            width: 0;
            border-bottom: solid 20.8px map-get($colors, "background");
            border-right: solid 12px transparent;
            border-left: solid 12px transparent;
        }
    }

    &__circle {
        height: 25px;
        width: 25px;
        border-width: $border-width;
        border-color: map-get($colors, "red");
        border-style: solid;
        border-radius: 50%;
    }

    &__cross {
        background: map-get($colors, "blue");
        height: 48px;
        position: relative;
        width: $border-width;
        margin: 0 22px;
        transform: rotate(45deg);
        &:after {
            content: "";
            background: map-get($colors, "blue");
            height: $border-width;
            left: -20px;
            position: absolute;
            top: 20px;
            width: 48px;
        }
    }

    &__square {
        height: 25px;
        width: 25px;
        border-width: $border-width;
        border-color: map-get($colors, "pink");
        border-style: solid;
    }
}

@keyframes loading {
    0% {
        transform: scale(0, 0) rotateZ(-90deg);
        opacity: 0;
    }
    30% {
        transform: scale(1, 1) rotateZ(0deg);
        opacity: 1;
    }
    50% {
        transform: scale(1, 1) rotateZ(0deg);
        opacity: 1;
    }
    80% {
        transform: scale(0, 0) rotateZ(90deg);
        opacity: 0;
    }
}
