.containerXbLoader {
    height: 80vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.vaXbLoader {
    margin: 0 auto 0;
    text-align: center;
    width: 198px;
    margin: 0 auto 0;
    position: relative;
    top: 50%;
    transform: translateY(-50%);
}

.xboxImg {
    width: 50px;
    height: 50px;
    margin: 0 0 50px 0;
}

.loaderXbLoader {
    float: left; /* Align circles next to each other */
    display: block; /* Cause span element */
    width: 16px;
    height: 16px; /* Some spacing , 25px on the left and right */
    margin: 0 25px; /* Adding some spacing inbetween */
    border-radius: 50%; /* makes the circles round */
    -webkit-animation-name: xbox; /* Animations name */
    animation-name: xbox;
    -webkit-animation-duration: 1.5s; /* The duration of our animation */
    animation-duration: 1.5s;
    -webkit-animation-iteration-count: infinite; /* Amount of Looping */
    animation-iteration-count: infinite;
    -webkit-animation-delay: 0.5s; /* A small delay */
    animation-delay: 0.5s;
}

.loaderXbLoader:nth-child(2) {
    -webkit-animation-delay: 0.75s; /* we delay the second circle by a short time */
    animation-delay: 0.75s; /* so that it starts at a later point */
}

.loaderXbLoader:nth-child(3) {
    -webkit-animation-delay: 1s; /* and the same for circle no 3 */
    animation-delay: 1s;
}

@-webkit-keyframes xbox {
    /* the animation - animation name */
    0% {
        opacity: 0; /* Starting off invisible */
        -webkit-transform: scale3d(0, 0, 0); /* this makes the circles go 0x0px */
        transform: scale3d(0, 0, 0);
    }

    20% {
        opacity: 1;
        -webkit-box-shadow: inset 0px 0px 2px 25px rgba(255, 255, 255, 1);
        -moz-box-shadow: inset 0px 0px 2px 25px rgba(255, 255, 255, 1);
        box-shadow: inset 0px 0px 2px 25px rgba(255, 255, 255, 1);
    }

    55% {
        opacity: 1; /* Ensures that our opacity is staying the same */
    }

    75% {
        opacity: 0; /* Fading out again */
        -webkit-transform: scale3d(1, 1, 1); /* Sizing our circle to its original size 16x16px */
        transform: scale3d(1, 1, 1);
        /* lowering our inner shadow, which results in a fading effect from the inside to the outside*/
        -webkit-box-shadow: inset 0px 0px 0px 1px rgba(255, 255, 255, 1);
        -moz-box-shadow: inset 0px 0px 0px 1px rgba(255, 255, 255, 1);
        box-shadow: inset 0px 0px 0px 1px rgba(255, 255, 255, 1);
    }

    100% {
        /* Adding a delay for the animation to wait from 75% - 100% 
           This equals 0.375s */
        opacity: 0;
    }
}

@keyframes xbox {
    0% {
        opacity: 0;
        transform: scale3d(0, 0, 0);
    }

    20% {
        opacity: 1;
        -moz-box-shadow: inset 0px 0px 2px 25px rgba(255, 255, 255, 1);
        box-shadow: inset 0px 0px 2px 25px rgba(255, 255, 255, 1);
    }

    55% {
        opacity: 1;
    }

    75% {
        opacity: 0;
        transform: scale3d(1, 1, 1);
        -moz-box-shadow: inset 0px 0px 0px 1px rgba(255, 255, 255, 1);
        box-shadow: inset 0px 0px 0px 1px rgba(255, 255, 255, 1);
    }

    100% {
        opacity: 0;
    }
}
